* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

body {
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr auto;
    height: 100vh;
}

/* Sidebar */

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: rgb(27, 114, 143);
    color: white;
    font-weight: 700;
    padding-left: 2em;
    padding-top: 1em;

    display: grid;
    height: 100vh;
}

.sidebar img {
    height: 40px;
    width: 40px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.sidebar-header {
    font-size: 40px;

    display: grid;
    grid-template-columns: 50px auto;
    gap: 10px;
    align-items: center;

    margin-bottom: 1em;
}

.sidebar-element {
    font-size: 18px;

    display: grid;
    grid-template-columns: 50px auto;
    gap: 10px; 
    align-items: center;
    padding: 10px 0px;
}

#communities {
    margin-top: 1em;
}

/* Header */

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 1em 2em;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
}

.header img {
    height: 35px;
    width: 35px;
}

.top-left {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    gap: 1em;
    padding: 0px 1em;
}

.top-left input {
    background-color: lightgray;
    border-radius: 25px;
    border: none;
    font-size: 25px;
    padding: 9px;
}

.top-right {
    display: grid;
    grid-template-columns: 40px 40px auto;

    align-items: center;
    justify-content: center;
    gap: 2em;
}

.top-right span {
    font-size: 20px;
    font-weight: 700;
}

.bottom-left {
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: auto auto;
    align-items: center;
}

.bottom-left img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 60px;
    height: 60px;
    justify-self: center;
}

#greeting {
    font-weight: 700;
    margin-left: 1rem;
    align-self: center
}

#user-name {
    font-weight: 700;
    font-size: 20px;
    margin-left: 1rem;
    align-self: center;
}

.bottom-right {
    display: grid;
    grid-template-columns: auto auto auto;

    gap: 2em;
    margin-right: 7em;
    align-items: center;
    justify-content: space-evenly;
}

.bottom-right button {
    min-width: 8em;
    height: 3em;
    background-color: rgb(27, 114, 143);
    border: none;
    border-radius: 25px;

    color: white;
    font-weight: 700;
    font-size: 16px;
}

/* Main section */

/*Project-Cards*/

.main-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;

    background-color: rgb(233, 233, 233);
}

.projects {
    grid-column: 1 / 2;
    grid-rows: 1 / 3;

    gap: 5px;
    padding: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min(240px));
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.card {
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    border-left: 8px solid #e3b030;
    padding-left: 15px;

    display: grid;
    grid-template-rows: 1fr 1fr auto;
}

.card-hl {
    font-weight: 700;
    align-self: end;
    margin-bottom: 7px;
}

.card-icons {
    align-self: end;
    justify-self: end;
    padding: 25px;
}

.card-icons img {
    height: 30px;
    width: 30px;
    margin-left: 2rem;
}

/* Announcements and trends */

.ann-tren {
    grid-column: 2 / 3;
    grid: 1 / 3;

    display: grid;
    align-items: stretch;

    padding: 5px;
}

.announcements {
    background-color: white;
    margin: 10px;
    border-radius: 20px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 2em;
    gap: 15px;
}

.ann-section {
    font-size: 14px;

}

.section-hl {
    font-weight: 700;
}

#first-ann {
    border-bottom: 2px solid lightgrey;
    padding-bottom: 12px;
}

#second-ann {
    border-bottom: 2px solid lightgrey;
    padding-bottom: 12px;
}

/* Trending */

.trending {
    background-color: white;
    margin: 10px;
    border-radius: 20px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 2em;
    gap: 15px;
}

.trending-section {
    display: grid;
    grid-template-columns: 1fr 3fr;;
    grid-template-rows: 1fr 1fr;
}

.trending-section img{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 50px;
    height: 50px;
}

.trending-user {
    font-weight: 700;
    align-self: center;
}

.trending-status {
    color: grey;
    font-size: 14px;
    align-self: center;
}